.app-bg {
  background-image: url('/public/bg-dark.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  color: #fff;
  font-size: 16px;
  height: max-content;
  padding: 2rem;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  width: 700px;
}

.input-field {
  width: 100%;
  background-color: #533f82;
  border: 1px solid #543d8b;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.input-field > input {
  color: #fff;
  width: 100%;
  outline: 0;
  border: none;
  background-color: #533f82;
  font-size: 16px;
}

.input-field > label {
  color: #878f94;
  font-size: 11px;
  pointer-events: none;
  padding: 0;
  margin: 0;
}

.input-container > button {
  background-color: #28124d;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
}

.input-container img {
  width: 24px;
  height: 24px;
}

.display-container {
  background-color: #533f82;
  width: 700px;
  padding: 2rem 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.today-weather-details {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.today-weather-temp-data {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.today-weather-other-data {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
  gap: 0.2rem;
  position: relative;
  text-align: right;
}

.today-temp {
  font-weight: 700;
  font-size: 5rem;
  line-height: 1;
}

.today-country {
  font-weight: 600;
}

.today-weather-icon {
  position: absolute;
  width: 120px;
  right: 0;
  top: -32px;
}

.history-container {
  background-color: #43316f;
  border-radius: 8px;
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}

.history-container > h2 {
  padding: 0 2rem;
}

.history-row-container {
  background-color: #28124d;
  border-radius: 8px;
  padding: 1rem;
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
}

.history-data-container {
  width: 100%;
  padding-right: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.history-date {
  font-size: 14px;
  color: #a3a8aa;
}

.history-actions-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.history-actions-container > button {
  background: none;
  border-radius: 8px;
  border: 1px solid #fff;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-actions-container > button > img {
  width: 16px;
  height: 16px;
}

@media only screen and (max-width: 720px) {
  .history-data-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .input-container,
  .display-container {
    width: 80%;
  }

  .today-weather-other-data {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

  .today-temp {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
  }

  .today-weather-icon {
    width: 100px;
    top: -45px;
  }
}
